In [3]:
#Q1
def convert_to_2d_array(original, m, n):
    length = len(original)
    if length != m * n:
        return []  # Impossible to construct the 2D array

    arr_2d = []
    for i in range(m):
        row = []
        for j in range(n):
            index = (i * n)+ j
            row.append(original[index])
        arr_2d.append(row)

    return arr_2d

original = [1, 2, 3, 4, 5, 6]
m = 2
n = 3
result = convert_to_2d_array(original, m, n)
print(result)

[[1, 2, 3], [4, 5, 6]]

In [4]:
#Q2
def count_complete_rows(n):
    complete_rows = 0
    coins = n

    for i in range(1, n+1):
        coins -= i
        if coins >= 0:
            complete_rows += 1
        else:
            break

    return complete_rows
n = 10
result = count_complete_rows(n)
print(result)

4

In [7]:
#Q3
def square(n):
    return n * n

arr = [-4, -1, 0, 3, 10]
arr_new = [square(i) for i in arr]

arr_new.sort()
print(arr_new)

[0, 1, 9, 16, 100]

In [12]:
#Q4
def find_disjoint(nums1, nums2):
    set_nums1 = set(nums1)
    set_nums2 = set(nums2)

    distinct_nums1 = set_nums1 - set_nums2
    distinct_nums2 = set_nums2 - set_nums1

    return [list(distinct_nums1), list(distinct_nums2)]

nums1 = [1, 2, 2, 3, 4]
nums2 = [2, 3, 5, 6]
result = find_disjoint(nums1, nums2)
print(result)

[[1, 4], [5, 6]]

In [13]:
#Q5
arr1=[4,5,8]
arr2 = [10,9,1,8]
d = 2
count=0
for i in range(len(arr1)):
  for j in range(len(arr2)):
    if abs(arr1[i]-arr2[j])<2:
      count+=1

print(count)

2

In [17]:
#Q6
def check(nums):
  lst=[]
  k=0
  n=len(nums)
  for i in range(n):
    k = nums.count(nums[i])
    if k==2:
      lst.append(nums[i])
    k=0
  return list(set(lst))

nums = [4,3,2,7,8,2,3,1]
print(check(nums))

[2, 3]

In [34]:
#Q7
def rotate(nums, n):
    left = 0
    right = len(nums) - 1

    while left < right:
        mid = left + (right - left) // 2

        if nums[mid] > nums[right]:
            left = mid + 1
        else:
            right = mid

    return nums[left]

nums = [1, 2, 3, 4, 5]
n = 3
print(rotate(nums, n))

1

In [33]:
#Q8
def double(changed):
  n=len(changed)
  k=n//2
  lst=[]
  original=[]
  for i in range(k,n):
    lst.append(changed[i])
  for i in range(0,k):
    if lst[i]==(changed[i]*2):
      original.append(changed[i])
  return original

changed = [1,3,4,2,6,8]
print(double(changed))

[1, 3, 4]